.App {
  height: 100%;
  background-image: linear-gradient(to top, rgb(97, 97, 97), rgb(49, 49, 49));
}

.disabled {
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #ccc;
}

.input-task {
  width: 300px;
  margin: 0 auto;
}

.task:hover {
  background-color: rgb(194, 192, 192);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.heading {
  color: white;
  font-weight: normal;
}

.loading-item {
  height: 3rem;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  line-height: 1rem;
  padding-left: 16px;
}
@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.loading-item .glow-checkbox,
.loading-item .glow-text span {
  animation: glow 1.5s ease-in-out infinite;
  background: #eee;
  color: transparent;
  cursor: progress;
  display: inline-block;
}
.loading-item .glow-checkbox {
  margin-right: 16px;
  width: 12px;
  height: 12px;
}
.loading-item + .loading-item {
  border-top: 1px solid #f0f9fb;
}

.star-icon:hover {
  cursor: pointer;
}
